@charset "utf-8";

/*2021.06.21 커뮤니티 인기글 css import 추가*/
@import url('comn_common.css');

/* 웹 폰트 */
@font-face {
  font-family: 'notokr-bold';
  src: url("../fonts/notokr-bold.eot");
  src: url("../fonts/notokr-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-bold.woff2") format("woff2"), url("../fonts/notokr-bold.woff") format("woff"), url("../fonts/notokr-bold.ttf") format("truetype"), url("../fonts/notokr-bold.svg#notokr-bold") format("svg");
  font-weight: normal;
  font-style: normal;}
@font-face {
  font-family: 'notokr-medium';
  src: url("../fonts/notokr-medium.eot");
  src: url("../fonts/notokr-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-medium.woff2") format("woff2"), url("../fonts/notokr-medium.woff") format("woff"), url("../fonts/notokr-medium.ttf") format("truetype"), url("../fonts/notokr-medium.svg#notokr-medium") format("svg");
  font-weight: normal;
  font-style: normal;}
@font-face {
  font-family: 'notokr-regular';
  src: url("../fonts/notokr-regular.eot");
  src: url("../fonts/notokr-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-regular.woff2") format("woff2"), url("../fonts/notokr-regular.woff") format("woff"), url("../fonts/notokr-regular.ttf") format("truetype"), url("../fonts/notokr-regular.svg#notokr-regular") format("svg");
  font-weight: normal;
  font-style: normal;}
@font-face {
  font-family: 'notokr-demilight';
  src: url("../fonts/notokr-demilight.eot");
  src: url("../fonts/notokr-demilight.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-demilight.woff2") format("woff2"), url("../fonts/notokr-demilight.woff") format("woff"), url("../fonts/notokr-demilight.ttf") format("truetype"), url("../fonts/notokr-demilight.svg#notokr-demilight") format("svg");
  font-weight: normal;
  font-style: normal;}
@font-face {
  font-family: 'notokr-light';
  src: url("../fonts/notokr-light.eot");
  src: url("../fonts/notokr-light.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-light.woff2") format("woff2"), url("../fonts/notokr-light.woff") format("woff"), url("../fonts/notokr-light.ttf") format("truetype"), url("../fonts/notokr-light.svg#notokr-light") format("svg");
  font-weight: normal;
  font-style: normal;}
@font-face {
  font-family: 'notokr-thin';
  src: url("../fonts/notokr-thin.eot");
  src: url("../fonts/notokr-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-thin.woff2") format("woff2"), url("../fonts/notokr-thin.woff") format("woff"), url("../fonts/notokr-thin.ttf") format("truetype"), url("../fonts/notokr-thin.svg#notokr-thin") format("svg");
  font-weight: normal;
  font-style: normal;}

/* 초기화 */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {margin:0;padding:0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
html, body {width:100%; height:100%;}
body, code {font-family: 'notokr-regular', 'Source Sans Pro', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', 'Roboto', sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size: 13px;line-height:1.2;color: #212121;-webkit-text-size-adjust:none;-webkit-overflow-scrolling: touch;}
code {background:none; display:block;}
ul, ol {list-style:none;}
img, fieldset {border:0;}
img, video {max-width:100%;}
i, em, address {font-style:normal; font-weight:normal;}
ins {text-decoration:none;}
a {text-decoration:none;color: #212121;}
a:hover {text-decoration:underline;}
a:active {text-decoration:none;}
table {width:100%;table-layout:fixed;border:0 none;border-spacing:0;border-collapse:collapse;}
#alarmDetail table.foot {width:100%;table-layout:inherit;border:0 none;border-spacing:-2;border-collapse:separate;}
caption {visibility:hidden; width:0; height:0; margin:0; padding:0; background:none; font-size:0; line-height:0;}
th, td {border:0; line-height:1.5; vertical-align:top; word-wrap:break-word;}
#alarmDetail table.foot th, td{border:0; line-height:1.5; vertical-align:inherit; word-wrap:break-word;}
legend, hr, .blind {overflow:hidden; visibility:hidden; position:absolute; left:-120%; width:1px; height:1px; margin:0; padding:0; background:none; font-size:0; line-height:0; text-indent:120%; white-space:nowrap;}
label {cursor:pointer;}
/*210713 ios 에서 그림자, 모서리 둥글게 적용 안 되게 수정*/
img, textarea, input, select {vertical-align:middle; box-sizing: border-box; border-radius: 0;}
textarea {resize:none; line-height:1.2em;}
button::-moz-focus-inner {padding:0; border:0;}
button {overflow:visible;border:0;padding:0;margin:0;cursor:pointer;vertical-align:middle;text-align:left;font-family:'notokr-regular', 'Source Sans Pro', '맑은 고딕', '돋움', Helvetica, Arial, sans-serif;font-size:12px;line-height:1.2;color:#303030;outline:0;background:none;}
input[type*="text"],
input[type*="tel"] {font-family:'notokr-regular',Helvetica,Arial,sans-serif;}

/* 공통 */
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.clearfix {*zoom: 1}
.clearfix:after {display: block; width: 0; height: 0; content: ""; clear: both;}
.hidden {display: none !important;}
.gHidden {overflow: hidden;}
.pullLeft {float: left;}
.pullRight {float: right !important;}
.txtLeft {text-align: left !important;}
.txtRight {text-align: right !important;}
.txtCenter {text-align: center !important;}
.txtJustify {text-align: justify !important;}
.txtEllipsis {display:inline-block;overflow:hidden;max-width:100%;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;word-break: break-all;}
.txtEllipsis2L {display:inline-block;overflow:hidden;max-width:100%;text-overflow:ellipsis;/* white-space:nowrap; */display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap:break-word;height: 36px;position: relative;word-break: break-all;} 
.txtEllipsisPureJS {display: block;display: -webkit-box;word-break: break-all;}

/* 간격 */
.pt5 {padding-top: 5px!important;}
.pt10 {padding-top: 10px!important;}
.pt15 {padding-top: 15px!important;}
.pt20 {padding-top: 20px!important;}
.pt25 {padding-top: 25px!important;}
.pt30 {padding-top: 30px!important;}
.pt35 {padding-top: 35px!important;}
.pt40 {padding-top: 40px!important;}
.pt45 {padding-top: 45px!important;}
.pt50 {padding-top: 50px!important;}

.pb5 {padding-bottom: 5px!important;}
.pb10 {padding-bottom: 10px!important;}
.pb15 {padding-bottom: 15px!important;}
.pb20 {padding-bottom: 20px!important;}
.pb25 {padding-bottom: 25px!important;}
.pb30 {padding-bottom: 30px!important;}
.pb35 {padding-bottom: 35px!important;}
.pb40 {padding-bottom: 40px!important;}
.pb45 {padding-bottom: 45px!important;}
.pb50 {padding-bottom: 50px!important;}

.pl20 {padding-left: 20px!important;}

.m20 {margin: 20px!important;}

.mt-1 {margin-top: -1px!important;}
.mt-15 {margin-top: -15px!important;}
.mt0 {margin-top: 0px!important;}
.mt5 {margin-top: 5px!important;}
.mt10 {margin-top: 10px!important;}
.mt15 {margin-top: 15px!important;}
.mt20 {margin-top: 20px!important;}
.mt25 {margin-top: 25px!important;}
.mt30 {margin-top: 30px!important;}
.mt35 {margin-top: 35px!important;}
.mt40 {margin-top: 40px!important;}
.mt45 {margin-top: 45px!important;}
.mt50 {margin-top: 50px!important;}
.mt60 {margin-top: 60px!important;}
.mt70 {margin-top: 70px!important;}
.mt80 {margin-top: 80px!important;}
.mt90 {margin-top: 90px!important;}
.mt100 {margin-top: 100px!important;}

.mr3 {margin-right: 3px!important;}
.mr5 {margin-right: 5px!important;}
.mr10 {margin-right: 10px!important;}
.mr15 {margin-right: 15px!important;}
.mr20 {margin-right: 20px!important;}
.mr25 {margin-right: 25px!important;}
.mr30 {margin-right: 30px!important;}
.mr35 {margin-right: 35px!important;}
.mr40 {margin-right: 40px!important;}
.mr45 {margin-right: 45px!important;}
.mr50 {margin-right: 50px!important;}
.mr60 {margin-right: 60px!important;}
.mr70 {margin-right: 70px!important;}
.mr80 {margin-right: 80px!important;}
.mr90 {margin-right: 90px!important;}
.mr100 {margin-right: 100px!important;}

.mb-4 {margin-bottom: -4px!important;}
.mb0 {margin-bottom: 0px!important;}
.mb1 {margin-bottom: 1px!important;}
.mb5 {margin-bottom: 5px!important;}
.mb10 {margin-bottom: 10px!important;}
.mb15 {margin-bottom: 15px!important;}
.mb18 {margin-bottom: 18px!important;}
.mb20 {margin-bottom: 20px!important;}
.mb25 {margin-bottom: 25px!important;}
.mb30 {margin-bottom: 30px!important;}
.mb35 {margin-bottom: 35px!important;}
.mb40 {margin-bottom: 40px!important;}
.mb45 {margin-bottom: 45px!important;}
.mb50 {margin-bottom: 50px!important;}
.mb60 {margin-bottom: 60px!important;}
.mb70 {margin-bottom: 70px!important;}
.mb80 {margin-bottom: 80px!important;}
.mb90 {margin-bottom: 90px!important;}
.mb100 {margin-bottom: 100px!important;}

.ml5 {margin-left: 5px!important;}
.ml10 {margin-left: 10px!important;}
.ml15 {margin-left: 15px!important;}
.ml20 {margin-left: 20px!important;}
.ml25 {margin-left: 25px!important;}
.ml30 {margin-left: 30px!important;}
.ml35 {margin-left: 35px!important;}
.ml40 {margin-left: 40px!important;}
.ml45 {margin-left: 45px!important;}
.ml50 {margin-left: 50px!important;}
.ml60 {margin-left: 60px!important;}
.ml70 {margin-left: 70px!important;}
.ml80 {margin-left: 80px!important;}
.ml90 {margin-left: 90px!important;}
.ml100 {margin-left: 100px!important;}

/* 너비, 높이 */
.w100per {width: 100% !important;}
.w99per {width: 99%;}
.w95per {width: 95%;}
.w90per {width: 90%;}
.w85per {width: 85%;}
.w80per {width: 80%;}
.w75per {width: 75%;}
.w70per {width: 70%;}
.w65per {width: 65%;}
.w60per {width: 60%;}
.w50per {width: 50%;}
.w55per {width: 55%;}
.w45per {width: 45%;}
.w40per {width: 40%;}
.w35per {width: 35%;}
.w33per {width: 33.3333333%;}
.w30per {width: 30%;}
.w25per {width: 25%;}
.w20per {width: 20%;}
.w19per {width: 19%;}
.w18per {width: 18%;}
.w17per {width: 17%;}
.w16per {width: 16%;}
.w15per {width: 15%;}
.w14per {width: 14%;}
.w13per {width: 13%;}
.w12per {width: 12%;}
.w11per {width: 11%;}
.w10per {width: 10%;}
.w9per {width: 9%;}
.w8per {width: 8%;}
.w7per {width: 7%;}
.w6per {width: 6%;}
.w5per {width: 5%;}
.w4per {width: 4%;}
.w3per {width: 3%;}
.w2per {width: 2%;}
.w1per {width: 1%;}

.w5 {width: 5px;}
.w10 {width: 10px;}
.w15 {width: 15px;}
.w20 {width: 20px;}
.w25 {width: 25px;}
.w30 {width: 30px;}
.w35 {width: 35px;}
.w40 {width: 40px;}
.w45 {width: 45px;}
.w50 {width: 50px;}
.w55 {width: 55px;}
.w60 {width: 60px;}
.w70 {width: 70px;}
.w80 {width: 80px;}
.w90 {width: 90px;}
.w100 {width: 100px;}
.w110 {width: 110px;}
.w120 {width: 120px;}
.w130 {width: 130px;}
.w140 {width: 140px;}
.w150 {width: 150px;}
.w160 {width: 160px;}
.w170 {width: 170px;}
.w180 {width: 180px;}
.w190 {width: 190px;}
.w200 {width: 200px;}
.w250 {width: 250px;}
.w300 {width: 300px;}
.w325 {width: 325px;}
.w350 {width: 350px;}
.w400 {width: 400px;}
.w500 {width: 500px;}

.mw100 {min-width: 100px;}

.h100per {height: 100%;}

/* 보더 */
.btNone {border-top:none !important;}
.brNone {border-right:none !important;}
.bbNone {border-bottom:none !important;}
.blNone {border-left:none !important;}

/* 폰트 스타일 */
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 {font-size: 14px;}
.fs15 {font-size: 15px !important;}

.txtNormal {font-weight: normal;font-family: 'notokr-regular', sans-serif;}
.txtBold {font-weight: bold;}
.txtItalic {font-style: italic;}

.pointColor {color: #f04349;}
.mainColor {color: #3c63e0;}
.subColor {color: #555555;}
.lightColor {color: #999999;}

.thesisTitleColor {color: #000000}

.keywordHighlight {font-weight: bold;font-family: 'notokr-bold', '돋움', Dotum, 새굴림, 한컴바탕, sans-serif;}

/* 버튼 스타일 */
.btn {display: inline-block; padding: 5px 10px; color: #ffffff;}
.btn + .btn {margin-left: 5px;}

.btnText {text-align: center; padding: 0;}

.btnIcon {overflow:hidden;display:inline-block;font-size:0;color:transparent;text-indent:-120%;vertical-align:middle;background:url(../images/common/common_sfix_icon.png) no-repeat;}
.btnIcon.plus {width: 34px;height: 34px;background-position: -391px -42px;padding: 8px 0 8px;}
.btnIcon.minus {width: 34px;height: 34px;background-position: -441px -42px;}
.btnIcon.top {width: 70px;height: 30px;background: url(https://www.dbpia.co.kr/images/common/img_arrow_top.png) no-repeat 50% / cover;}

.btnIconB {position:relative;text-align: center;}
.recomWrap .btnIconB span:before {display: none; content:"";margin: 0;vertical-align: middle;background:url(../images/common/common_sfix_icon.png) no-repeat;}
.btnIconB span:before {display: inline-block;content:"";margin: 0;vertical-align: middle;background:url(../images/common/common_sfix_icon.png) no-repeat;}
.btnIconB span.setting:before {background-position: -450px -100px;width: 14px;height: 14px;margin: 0 1px 0 0;display: none;}
.btnIconB span.reset:before {background-position: -200px -350px;width: 14px;height: 14px;margin: -1px 2px 0 0;}

.btnIconA {position:relative;}
.btnIconA span:after {display: inline-block; content:""; margin: 0;background:url(../images/common/common_sfix_icon.png) no-repeat;}

.btn.pointColor {background-color: #ef4348; border: 1px solid #ef4348 !important;}
.btn.pointColor:hover {background-color: #c03639; border: 1px solid #c03639 !important;}
.btn.mainColor {background-color: #3c63e0; border: 1px solid #3c63e0 !important;}
.btn.mainColor:hover {background-color: #304fb3; border: 1px solid #304fb3 !important;}
.btn.subColor {background-color: #555555; border: 1px solid #555555 !important;}
.btn.subColor:hover {background-color: #444444; border: 1px solid #444444 !important;}
.btn.lightGrayColor {background-color: #e7e7e7;border: 1px solid #e7e7e7 !important;}
.btn.darkGrayColor {background-color: #cccccc;border: 1px solid #cccccc !important;}
.btn.darkBlueColor {background-color: #4c86b6;border: 1px solid #4c86b6 !important;}
.btn.darkBlueColor:hover {background-color: #3d6b92;border: 1px solid #3d6b92 !important;}

.btn.darkBlueColor2 {background-color: #DB3A3F;border: 1px solid #DB3A3F !important;}
.btn.darkBlueColor2:hover {background-color: #D12D30;border: 1px solid #D12D30 !important;}

.btn.xl {min-width: 140px;min-height: 45px;padding: 5px 10px;line-height: 30px;}
.btn.xl span {font-size: 16px; font-family: 'notokr-medium', sans-serif;}
.btn.large {min-width: 110px;min-height: 34px;}
.btn.large span {font-size: 14px;}
.btn.medium {padding: 5px 11px 5px;}
.btn.medium span {font-size: 13px;}
.btn.small {min-width: 41px;padding: 4px 8px 3px;}
.btn.small span {font-size: 12px;}

.large.fs12 span {font-size: 12px !important; display: block;}
.large.fs13 span {font-size: 13px !important;}
.medium.fs12 span {font-size: 12px !important;display: block;/* color: #333333; *//* font-family: 'notokr-medium', sans-serif; */}

.btnLine {background-color: #ffffff !important;}
.btnLine.mainColor {color: #3c63e0;}
.btnLine.subColor {color: #555555;}
.btnLine.lightGrayColor {color: #111111;}
.btnLine.darkGrayColor {color: #666666;}

.btn.btnLine:hover {border: 1px solid #c8c8c8 !important;box-shadow: 2px 2px 3px rgba(0,0,0,.2);}

.btn.noLine {font-size: 13px;color: #111111;padding: 0 9px 0 0px;}
.btn.date {font-size: 12px;color: #111111;/* min-width: 42px; */padding: 6px 9px 5px;text-align: center;border: 1px solid #c8c8c8 !important;}
.btn.date:hover {border: 1px solid #c8c8c8 !important; box-shadow: 2px 2px 3px rgba(0,0,0,.2);}
.btn.date:focus {border: 1px solid #555555 !important; font-family: 'notokr-bold', sans-serif; padding: 5px 9px 6px}
.btn.selectDel {padding: 5px 8px 4px;}
.btn.selectMoney {padding: 6px 11px 5px;min-width: 113px;width: 100%;font-size: 13px;}
.btn.btnConfirm.inactive {color: #999999;background-color: #fbfbfb;border: 1px solid #e7e7e7 !important;pointer-events: none;}

.btn.disabled {color: #999;background-color: #fbfbfb;border: 1px solid #e7e7e7 !important;pointer-events: none;}

.btn.btnManual {display: inline-block;margin-top: 20px;width: 100%;min-height: 62px;border: 1px solid #e7e7e7 !important;text-align: left;}
.btn.btnManual span {font-size: 16px;font-family: 'notokr-bold', sans-serif;display: block;padding-left: 58px;}
.btn.btnManual span:before {position: absolute;left: 10px;top: 5px;/* display: inline-block; */content:"";margin: 0 8px 0 0;width:50px;height:50px;vertical-align: middle;background:url(../images/common/btn_manual.png) no-repeat;}

.btn.btnVideo {display: inline-block;margin-top: 5px;width: 100%;min-height: 62px;border: 1px solid #e7e7e7 !important;text-align: left;}
.btn.btnVideo span {font-size: 16px;font-family: 'notokr-bold', sans-serif;display: block;padding-left: 58px;}
.btn.btnVideo span:before {position: absolute;left: 10px;top: 5px;/* display: inline-block; */content:"";margin: 0 8px 0 0;width:50px;height:50px;vertical-align: middle;background:url(../images/common/btn_video_manual.png) no-repeat;}

/* 버튼 - 토글스위치 */
.toggleBtn {position: absolute;right: 15px;top: 14px;}
.toggleBtn label.switch {position: relative;display: inline-block;width: 36px;height: 20px;}
.toggleBtn label.switch input {opacity: 0;width: 0;height: 0;outline: none;}
.toggleBtn label.switch span.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .15s;transition: .15s;}
.toggleBtn label.switch span.slider:before {position: absolute;content: "";height: 18px;width: 18px;left: 1px;bottom: 1px;background-color: white;-webkit-transition: .15s;transition: .15s;}
.toggleBtn label.switch span.round {border-radius: 99px;}
.toggleBtn label.switch span.round:before {border-radius: 50%;}
.toggleBtn label.switch input:checked + .slider {background-color: #f04349;}
.toggleBtn label.switch input:focus + .slider {box-shadow: none;}
.toggleBtn label.switch input:checked + .slider:before {-webkit-transform: translateX(16px);-ms-transform: translateX(16px);transform: translateX(16px);}
.toggleBtn p {display: none; float: left;/* float: right; */font-size: 12px;color: #111111;padding: 4px 7px 0 0px;/* padding: 3px 0 0 8px; */width: 29px;}
.toggleBtn p.off {color: #999999;display: block;}
.toggleBtn p.on {display: none;}

/* 폼 - 인풋박스 */
.gInputText {position:relative;display:inline-block;}
.gInputText .placeholder {position:absolute;top:50%;left: 11px;margin-top: -10px;color:#999;font-size:13px;}
.gInputText button.ui-datepicker-trigger {position:absolute;top: 8px;right: 10px;}
.gInputText + .fSelect {margin-left: 3px;}
.gInputText + button {margin-left: 3px;}

.fText {padding: 6px 9px 7px;width:100%;font-size: 14px;color: #111111;border: 1px solid #cccccc;outline: none;height: 34px;}
.fText[disabled] {background-color: #f2f2f2;}
.fTextarea {padding: 7px 9px;font-size: 14px;color: #111111;border: 1px solid #cccccc;outline: none;font-family:'notokr-regular',Helvetica,Arial,sans-serif;line-height: 22px;}
.fTextarea:focus::-webkit-input-placeholder{text-indent: -999px;}
.fTextarea:focus::-moz-placeholder{text-indent: -999px;}

.gInputText.schBox {position:relative;display:inline-block;}
.gInputText.schBox .fText {padding: 11px 50px 11px 9px;width:100%;font-size: 14px;color: #111111;border: 1px solid #e7e7e7;outline: none;height: 43px;}
.gInputText.schBox .btnSearch {position: absolute;top: 1px;right: 1px;padding: 0;background: transparent;border: 0;}
.gInputText.schBox .btnSearch .icon {width: 41px;height: 41px;background: url(../images/common/common_sfix_icon.png) no-repeat -140px -88px;display: block;}

.gInputText.schBox .btnSearch.innerSearch { display:inline-block;width: 33px;height: 31px;background: url(../images/common/common_sfix_icon.png) no-repeat 7px 7px;background-color: #ef4348; }

.gInputText.schBoxHeading {position:relative;display:inline-block;}
.gInputText.schBoxHeading .placeholder {margin-top: -7px;}
.gInputText.schBoxHeading .fText {padding: 6px 29px 7px 9px;width:100%;font-size: 14px;color: #111111;border: 1px solid #cccccc;outline: none;height: 34px;}
.gInputText.schBoxHeading .btnSearch {position: absolute;top: 1px;right: 1px;padding: 0;background: transparent;border: 0;}
.gInputText.schBoxHeading .btnSearch .icon {width: 32px;height: 32px;background: url(../images/common/common_sfix_icon.png) no-repeat -92px -142px;display: block;}

/* 폼 - 셀렉트박스 */
.fSelect {position:relative;display:inline-block;vertical-align:middle;border: 1px solid #cccccc;font-size: 14px;color: #111111;}
.fSelect span {position:absolute; top: 0px; left:0; display:block; padding: 0px 10px; width: 100%; height:100%; line-height: 33px;}
.fSelect span:after {position:absolute;top:50%;right: 0px;display:block;content:"";margin-top: -8px;width:18px;height:15px;background: url(../images/common/common_sfix_icon.png) no-repeat -50px -45px;box-sizing:border-box;}
.fSelect select {opacity:0;padding: 6px 9px 7px;width: 100%;height:100%;/* -webkit-appearance:none; */-moz-appearance:none;filter:alpha(opacity=0);cursor:pointer;color: #333;font-size: 13px;}
.fSelect + .fSelect {margin-left: 7px;}
.fSelect + .fText {margin-left: 7px;}
.fSelect + button {margin-left: 3px;}

/* 폼 - 체크박스 */
.fCheck {position: relative;}
.fCheck input[type="checkbox"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.fCheck input[type="checkbox"] + label {display:inline-block;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select: none;}
.fCheck input[type="checkbox"] + label:before {content:'';display:inline-block;margin: -2px 9px 0 0;width: 14px;height: 14px;line-height: 14px;text-align:center;vertical-align:middle;border: 1px solid #c8c8c8;background:#fff;box-sizing:border-box;}
.fCheck input[type="checkbox"] + label:after {opacity:0;display:block;content:"";position:absolute;top: 4px;left: 1px;width:15px;height:14px;background: url(../images/common/common_sfix_icon.png) no-repeat -200px -50px;}
.fCheck input[type="checkbox"]:checked + label:after {opacity:1 !important;}

.fCheck input[disabled] + label:before {background-color: #f2f2f2;}
.fCheck input[type="checkbox"].disabled + label {cursor: pointer;pointer-events: none !important;}
.fCheck input[type="checkbox"].disabled + label:before {background-color: #f2f2f2;}

.fCheck + .fCheck {margin-left: 10px;}
.fCheck + .gInputText {/* margin-left: 16px; */}

/* 폼 - 라디오버튼 */
.fRadio {position: relative;color: #111111;font-size: 14px;}
.fRadio input[type="radio"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.fRadio input[type="radio"] + label {display:inline-block;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select: none;vertical-align: middle;line-height: 33px;}
.fRadio input[type="radio"]:checked + label {}
.fRadio input[type="radio"] + label:before {content:'';display:inline-block;margin: -4px 7px 0 0;width: 18px;height: 18px;line-height:16px;text-align:center;vertical-align:middle;background: url(../images/common/common_sfix_icon.png) no-repeat -100px -50px;box-sizing:border-box;}
.fRadio input[type="radio"]:checked + label:before {background-position: -150px -50px;}
.fRadio + .fRadio {margin-left: 10px;}

/* 도움말 */
.tooltipWrap {display:inline-block;margin-left: 5px;z-index: 10;}
.tooltipWrapFloat {display:inline-block;margin-left: 5px;z-index: 10;float:left;}
.tooltip {position:relative;display:inline-block;}
.tooltip a.btnTooltip {overflow:hidden;display:inline-block;width: 20px;height:20px;/* vertical-align: top; */vertical-align: middle;font-size:0;color:transparent;text-indent:-120%;background:url(../images/common/common_sfix_icon.png) no-repeat -300px -50px;}
.tooltip a.small {overflow:hidden;display:inline-block;width: 17px;height: 17px;vertical-align: middle;font-size:0;color:transparent;text-indent:-120%;background: url(../images/common/common_sfix_icon.png) no-repeat -200px -100px;}
.tooltip:hover .desc {display:block;}
.tooltip .desc {display:none;position:absolute;padding:10px 15px;width: 245px;border: 1px solid #e0e0e0;background:#fff;font-family: 'notokr-medium', sans-serif;font-size: 13px;color: #555555;box-shadow: 3px 3px 8px rgba(0,0,0,.1);box-shadow: 3px 4px 6px rgba(0,0,0,.2);z-index: 210;line-height: 20px;text-align: left;}
.tooltip .desc:before {position: absolute;width: 0;height: 0;display: inline-block;content: "";border-color: transparent;border-style: solid;}
.tooltip .desc:after {position: absolute;width: 0;height: 0;display: inline-block;content: "";border-color: transparent;border-style: solid;}
.tooltip .desc.bottomRight {top: 30px; right: -10px;}
.tooltip .desc.bottomRight:before {right: 12px;top: -7px; border-width: 0 7px 7px; border-bottom-color: #cccccc;}
.tooltip .desc.bottomRight:after {right: 12px;top: -6px; border-width: 0 7px 7px;border-bottom-color: #fff;}
.tooltip .desc.topRight {bottom: 32px;right: -10px;}
.tooltip .desc.topRight:before {right: 12px;bottom: -10px;border-width: 7px 7px 0;border-top-color: #cccccc;}
.tooltip .desc.topRight:after {right: 12px;bottom: -7px;border-width: 7px 7px 0;border-top-color: #fff;}
.tooltip .desc.topLeft {bottom: 32px;left: 10px;}
.tooltip .desc.topLeft:before {left: 12px;bottom: -10px;border-width: 7px 7px 0;border-top-color: #cccccc;}
.tooltip .desc.topLeft:after {left: 12px;bottom: -7px;border-width: 7px 7px 0;border-top-color: #fff;}
.tooltip .desc.leftTop {top: -10px;left: 30px;}
.tooltip .desc.leftTop:before {left: -14px;top: 12px;border-width: 7px 7px 7px;border-right-color: #cccccc;}
.tooltip .desc.leftTop:after {left: -13px;top: 12px;border-width: 7px 7px 7px;border-right-color: #ffffff;}

.tooltip_desc {display:none;padding:10px 15px;border: 1px solid #e0e0e0;background:#fff;width: 400px;font-family: 'notokr-medium', sans-serif;font-size: 13px;color: #555555;box-shadow: 3px 3px 8px rgba(0,0,0,.1);box-shadow: 3px 4px 6px rgba(0,0,0,.2);line-height: 20px;text-align: left;}

.asideWrap .cover:hover { cursor: pointer; }

a.disabled {width:23px;height: 17px;position: absolute;left: 0px;top: 0px;}
.btnCheckboxTooltip {cursor:pointer; position:relative;}
.btnCheckboxTooltip .checkboxTooltip {display:none;position:absolute;bottom: 26px;padding: 5px 10px;width: 142px;width: 261px;border: 1px solid #e0e0e0;background:#fff;font-family: 'notokr-medium', sans-serif;font-size: 12px;color: #555555;box-shadow: 3px 4px 6px rgba(0,0,0,.2);z-index: 10;line-height: 18px;text-align: left;}
.btnCheckboxTooltip:hover .checkboxTooltip {display:block;}
.lbMRR{display:none;}
/*본문포함 토글*/
/* The switch - the box around the slider */
/*.btnSwitch {
	position: relative;
	display: inline-block;
	width: 100px;
  	height: 34px;
}*/

.searchToggle {
	position: relative;
	display: inline-block;
	left: 55%;
	top: 5px;
}

#searchInclude {
	display: inline-block;	
	padding: 4px;
}

.switch {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 20px;  
	right: 1px;
}

.searchToggle .switch {
	right: unset;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;  
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #EF4348;
}

input:focus + .slider {
  box-shadow: 0 0 1px #EF4348;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width:960px) and (max-width:1147px) {/* 태블릿: 최소 960 ~ 1147 */
/* 버튼 */
.btn.btnManual {padding: 5px 8px;}
.btn.btnManual span {font-size: 15px;}

}


/* 20191107 인용 팝업 */
/*
.downloadBox .btnGroup .quote_box{display:inline-block;position:relative;margin:0 2px 5px 0}
.downloadBox .btnGroup .quote_box .quote_arrow{display:block;position:absolute;left:5px;bottom:35px;width:32px;opacity:0;visibility:hidden}
.downloadBox .btnGroup .quote_box .quote_text{display:block;position:absolute;left:40px;bottom:40px;width:215px;opacity:0;visibility:hidden}
.downloadBox .btnGroup .quote_box .quote_arrow,
.downloadBox .btnGroup .quote_box .quote_text{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.downloadBox .btnGroup .quote_box .img{display:block;width:100%}
.downloadBox .btnGroup .quote_box .quote_text .close{display:none;position:absolute;right:0;top:-20px;width:16px}
.downloadBox .btnGroup .quote_box .btn{display:block;margin:0;border:1px solid #ef4348;box-shadow:0 0 5px #ef4348;
	-webkit-animation: tooltip_effect 2s 1s ease-in-out infinite;
    -moz-animation: tooltip_effect 2s 1s ease-in-out infinite;
    -o-animation: tooltip_effect 2s 1s ease-in-out infinite;
    animation: tooltip_effect 2s 1s ease-in-out infinite;
}
.downloadBox .btnGroup .quote_box .btn span{color:#000}


@media (min-width:960px) {
.downloadBox .btnGroup .quote_box:hover .quote_arrow,
.downloadBox .btnGroup .quote_box:hover .quote_text{opacity:1;visibility:visible}
.downloadBox .btnGroup .quote_box:hover .btn{border:1px solid #ef4348!important;box-shadow:0 0 5px #ef4348!important;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;
	-webkit-animation:none;
    -moz-animation:none;
    -o-animation:none;
    animation:none;
}
}
*/

@media (max-width:959px) {/* 모바일: 최대 959 */
/* 버튼 */
.btnIcon.top {width: 58px;height: 32px;background: url(https://www.dbpia.co.kr/images/common/img_arrow_top.png) no-repeat 50%;background-size: cover;}
.btn.large {min-width: 80px;min-height: 31px;padding: 0 5px;}
.btn.selectMoney {padding: 6px 0px 5px;min-width: auto;}

/* 폼 */
.gInputText + button {margin-left: 0px;margin-top: 10px;min-width: 100% !important;}
.gInputText + .fSelect {margin-left: 0px;margin-top: 10px;min-width: 100%;}
.fSelect + .fSelect {margin-left: 0px;margin-top: 10px;min-width: 100%;}
.fSelect + button {margin-left: 0px;margin-top: 10px;min-width: 100% !important;}

.btnMobile {margin-left: 0px;margin-top: 10px;min-width: 100% !important;}

.bnClass .nameCom {display: none;}

/* 20191107 인용 팝업 */
/*.downloadBox .btnGroup .quote_box .quote_text .close{display:block!important}

.downloadBox .btnGroup .quote_box.active .quote_arrow,
.downloadBox .btnGroup .quote_box.active .quote_text{opacity:1;visibility:visible;}
.downloadBox .btnGroup .quote_box.active .btn{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;
	-webkit-animation:none;
    -moz-animation:none;
    -o-animation:none;
    animation:none;
}*/
}
/*
@-webkit-keyframes tooltip_effect {
    0% { border:1px solid #ef4348;box-shadow:0 0 5px #ef4348 }    
    50% { border:1px solid #ccc;box-shadow:none }    
    100% { border:1px solid #ef4348;box-shadow:0 0 5px #ef4348 }
}
@-moz-keyframes tooltip_effect {
    0% { border:1px solid #ef4348;box-shadow:0 0 5px #ef4348 }    
    50% { border:1px solid #ccc;box-shadow:none }    
    100% { border:1px solid #ef4348;box-shadow:0 0 5px #ef4348 }
}
@-o-keyframes tooltip_effect {
    0% { border:1px solid #ef4348;box-shadow:0 0 5px #ef4348 }    
    50% { border:1px solid #ccc;box-shadow:none }    
    100% { border:1px solid #ef4348;box-shadow:0 0 5px #ef4348 }
}
@keyframes tooltip_effect {
    0% { border:1px solid #ef4348;box-shadow:0 0 5px #ef4348 }    
    50% { border:1px solid #ccc;box-shadow:none }    
    100% { border:1px solid #ef4348;box-shadow:0 0 5px #ef4348 }
}*/






/* prevent css vanishing */
/* prevent css vanishing */
/* prevent css vanishing */
/* prevent css vanishing */
/* prevent css vanishing */
/* prevent css vanishing */
/* prevent css vanishing */
/* prevent css vanishing */

#dbpiaTopBanner {width: 100%;height: 60px;background-color: #ffffff;position: relative;text-align: center;display: none;}
.topBannerCenter {max-width: 1080px;width: 100%;height: 100%;margin-left: auto;margin-right: auto;text-align: center;}
.topBannerCenter img {position:static; height: 100%; cursor: pointer;}
.topBannerCenter span.closeBanner {background:url(../images/common/common_sfix_icon.png) no-repeat -445px -197px;cursor:pointer;position: relative;right: 20px; top: -13px;}

@media (max-width: 959px){
	/*띠배너 닫기 버튼 수정*/
  .topBannerCenter span.closeBanner {background:url(../images/common/common_sfix_icon.png) no-repeat -445px -198px;cursor:pointer;position: relative; right:0px;}
    /*.topBannerCenter span{ right: 48% !important; top: -4em !important;} */
  .topBannerCenter span.closeBanner { top: -4.5em !important; display:block; float:right;}
}

.formGroup .fSelect.disabled span{color:#aaa!important;background-color:#f2f2f2!important}
.formGroup .fSelect.disabled select{cursor:default}
.formGroup .fSelect *:disabled{cursor:default}


.loadingAsyn{
	background-image: url(/assets/mloading/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 8%;
}





/*비엔시스템 수정*/

.bnClass .gInputText button.ui-datepicker-trigger{border: none;}




/*210525 공통요소*/

body, code{color: #111;}
.bnClass a {text-decoration:none;color: #666;}
.bnClass .btnIconB span:before {display: inline-block;content:"";margin: 0;vertical-align: middle;background:url(../images/common/redo.svg) no-repeat; margin-top: -2px;}
.bnClass .btnIconB span.reset:before {width: 14px;height: 14px;margin: -1px 2px 0 0;}

/*210529 추가 */
.bnHead .alarmArea .alarmBox .alarmHead button.btnSetting span:before{display: none;}


/*210426 발행기관명 추가 및 스타일 수정 추가*/
.bnClass .nameCom{margin: 25px 0px 20px 0px; font-size: 14px;}
.bnClass p.searchBox{border: 1px solid #DCDCDC;width: 192px;border-radius: 3px;overflow: hidden;margin-top: 5px;}
.bnClass p.searchBox .gInputText {float: left;}
.bnClass p.searchBox .searchBtn{margin-left: 0px;width: 36px;height: 33px;border-left: 1px solid #DCDCDC;float: left;display: block;}
.bnClass p.searchBox .searchBtn:hover{box-shadow: none;}
.bnClass p.searchBox .fText{border: none!important;width: 153px!important;}


/*210426 마진 탑 수정*/
.bnClass .gInputText .placeholder {position:absolute;top:50%;left: 11px;margin-top: -6px;color:#999;font-size:13px;}

/*수정*/
.bnClass .fText {padding: 6px 9px 7px;width: 100%;font-size: 14px;color: #111111;border: 1px solid #cccccc;outline: none;height: 34px;}

/*210430 추가*/
.bnClass .filterTitle{font-size: 16px;font-family:'notokr-bold',Helvetica,Arial,sans-serif;margin-top: 11px;margin-bottom: 27px;}
.bnClass .subTitle{font-family:'notokr-medium',Helvetica,Arial,sans-serif;font-size: 13px;}

/*210430 보더 추가*/
/*210503 width 추*/
.bnClass .pcAppendArea1 .innerSearch{border-bottom: 1px solid #ECECEC;width: 190px;}


/*210430 margin-top 추가,  너비 수정 */
.bnClass .gInputText.schBox {position:relative;display:inline-block;margin-top: 7px; overflow: hidden;   width: 190px!important;}


/*210430 보더수정*/
/*210503 수정*/
.bnClass .gInputText.schBox .fText {padding: 11px 50px 11px 9px;width:153px;font-size: 12px;color: #111111;border: 1px solid #DB3A3F;outline: none;height: 43px;border-radius: 3px 0px 0px 3px;display: block;float: left;}
.bnClass .gInputText.schBox .fText::placeholder{color: #999;}
.bnClass .gInputText.schBox .btnSearch {position: absolute;top: 0px;right: 1px;padding: 0;background: transparent;border: 0;}

/*210430 탭 수정*/
.bnClass .gInputText.schBox .btnSearch.innerSearch { display:inline-block;width: 37px;height: 33px;background: url(../images/common/search-red.svg) no-repeat center;display: block;float: left; position: unset;border: 1px solid #DB3A3F; border-left: none; border-radius: 0px 3px 3px 0px;}

/*210430 새로 셀렉트 박스 추가*/
.bnClass .funcWrap .fSelect{border: 1px solid #CCCCCC; padding: 0px;width: 80px;height: 27px; border-radius: 3px;font-size: 12px;color: #666666;}
.bnClass .funcWrap .fSelect span{line-height: 26px;}
.bnClass .funcWrap .fSelect span:after{background: url(../images/common/arrow-sear.svg) no-repeat 5.5px;box-sizing:border-box;}


/*210427 컬러변경*/
.bnClass .fSelect select {opacity:0;padding: 6px 9px 7px;width: 100%;height:100%;/* -webkit-appearance:none; */-moz-appearance:none;filter:alpha(opacity=0);cursor:pointer;color: #111;font-size: 13px;}


/*추가된 폼*/
/*210602 bnClass 제거*/
.fCheck.searchChk {position: relative;}
.fCheck.searchChk input[type="checkbox"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}

/*210428 font-size 변경*/
/*210430 font-size 변경*/
/*210602 bnClass 제거*/
.fCheck.searchChk input[type="checkbox"] + label {display:inline-block;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select: none;font-size: 12px;top: 1px;}


/*210427 컬러변경*/
/*210430 위치 및 사이즈 변경*/
/*210602 bnClass 제거*/
.fCheck.searchChk input[type="checkbox"] + label:before {content:'';display:inline-block;margin: 0px 9px 0 0;width: 15px;height: 15px; border-radius: 3px; line-height: 14px;text-align:center;vertical-align:top;border: 1px solid #c8c8c8;background:#fff;box-sizing:border-box;    color: #707070;}

/*210503 추가*/
/*210602 bnClass 제거*/
.hdWrap .fCheck.searchChk input[type="checkbox"] + label:before {margin: -1px 9px 0 0;}


/*210430 리스트 선택창*/
/*210602 bnClass 제거*/
.searchListArea .listHead .fCheck.searchChk input[type="checkbox"] + label:before{width: 17px;height: 17px;margin-right: 0px;}
.searchListArea .listHead .fCheck.searchChk input[type="checkbox"] + label:after{width: 17px;height: 17px;	background-size: 17px;left: 0px;top: 1px;}

/*210430 체크박스수정*/
/*210602 bnClass 제거*/
.fCheck input[type="checkbox"] + label:after {opacity:0;display:block;content:"";position:absolute;top: 4px;left: 0px;width:15px;height:15px;background: url(../images/common/checked.svg) no-repeat center}
.fCheck input[type="checkbox"]:checked + label:after {opacity:1;}

/*210430 수정*/
.bnClass .searchToggle {position: relative;position: absolute;display: inline-block;left: 55%;top: 5px;width: 104px;height: 20px;top: 16px;right: 119px;color: #4b4b4b;left: inherit;}
.bnClass .slider:after{content:'OFF';display: block;position: absolute;top: 4px;right: 8px;font-family: 'notokr-medium', sans-serif;font-size: 10px;color: #A9A9A9;}
.bnClass #chkIncludes:checked + .slider:after{content:'ON';color: white;top: 4px;left: 8px;}
.bnClass #chkIncludeRight:checked + .slider:after{content:'ON';color: white;top: 4px;left: 8px;}
.bnClass #chkInclude:checked + .slider:after{content:'ON';color: white;top: 4px;left: 8px;}
.bnClass #chkInclude:checked + .on{display: block;}


/*210430 수정*/
/*210601 수정*/
.bnClass #searchInclude {position: absolute;display: inline-block;line-height: 20px;padding: 0px;}

.bnClass .switch {position: absolute;display: inline-block;width: 50px;height: 20px;right: 1px;}


/*210514 셀렉트 박스 수정*/
.bnClass .newSel select{display: none;}



/*210504 배경 변경*/
.bnClass .slider { position: absolute; cursor: pointer;left: 0;right: 0;bottom: 0;background-color: #e5e5e5;-webkit-transition: .4s; transition: .4s; }
.bnClass input:checked + .slider { background-color: #db3a3f;}
.bnClass input:focus + .slider {box-shadow: 0 0 1px #db3a3f;}
.bnClass input:checked + .slider:before {-webkit-transform: translateX(28px);-ms-transform: translateX(28px);transform: translateX(28px);}










/*210518 수정*/
.bnClass .newSel .select-options{display: none;position: absolute;z-index: 9;background-color: #fff;width: 80px;top: 25px;left: -0.5px; top: 25px; box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);max-height: 100px; overflow-y: scroll;}
.bnClass .newSel .select-options {
    -ms-overflow-style: none;/* IE and Edge */
    scrollbar-width: none;/* Firefox */
}
.bnClass .newSel .select-options::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.bnClass .newSel .select{width: 80px; height: 27px; cursor: pointer;border: 1px solid #ccc;border-radius: 3px; float: left;position: relative;}


.bnClass .newSel .select:nth-child(2){margin-left: 5px;}
.bnClass .newSel .select-styled{position: relative; font-size: 12px; font-family: 'notokr-regular', sans-serif; color: #666666; line-height: 27px;padding-left: 10px;}
.bnClass .newSel .select-styled:after{position: absolute;top: 50%;right: 6px;display: block;content: "";margin-top: -7px;width: 18px;height: 15px;  background: url(../images/common/arrow-sear.svg) no-repeat 5.5px;}

.bnClass .newSel ul {border: 1px solid #ccc; border-radius: 3px;}
.bnClass .newSel ul li{padding: 5px 21px 5px 10px;font-size: 12px; font-family: 'notokr-regular', sans-serif; color: #666666; }
.bnClass .newSel ul li:hover{background-color: #ECECEC;}






/*210519 추가*/

.bnClass .mobSel{display: none;}

/*210601 추가*/
.bnClass .mobSel label{display: block; min-height: 27px;}


/*210525 새로운 셀렉트 박스*/
.bnClass div.dropdown {position: relative;width: 80px; float: left;}
.bnClass div.dropdown:nth-child(2){margin-left: 10px;}
.bnClass div.dropdown > div.caption {font-size: 12px;font-family: 'notokr-regular', sans-serif;color: #666666;line-height: 25px;padding-left: 10px;border: 1px solid #ccc;border-radius: 3px;width: 80px;cursor: pointer;}
.bnClass div.dropdown > div.caption:after {position: absolute;top: 50%;right: 6px;display: block;content: "";margin-top: -7px;width: 18px;height: 15px;background: url(../images/common/arrow-sear.svg) no-repeat 5.5px;}

/*210528 높이, 스크롤 제거*/
.bnClass div.dropdown > div.list {position: absolute;background-color: #fff;width: 100%;border-radius:3px;display: none;z-index: 9999;border: 1px solid #ccc;top: 26px;}


.bnClass div.dropdown > div.list  {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.bnClass div.dropdown > div.list::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}
.bnClass div.dropdown > div.list > div.item {cursor: pointer;}
.bnClass div.dropdown > div.list > div.item:hover {background-color: #ececec;}
.bnClass div.dropdown.open > div.caption {border-radius: 3px;}
.bnClass div.dropdown.open > div.list {display: block;}
.bnClass div.dropdown.open > div.list .item {padding: 5px 21px 5px 10px;font-size: 12px;font-family: 'notokr-regular', sans-serif;color: #666666;cursor: pointer;}
